@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  text-transform: capitalize;
  transition: all 0.8s linear;
  font-family: "Mulish", sans-serif;
  outline: none;
  border: none;
}

i {
  color: yellowgreen;
  font-size: 18px;
  padding: 0 5px;
}

a {
  font-size: 1.4rem;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: #111;
}
html::-webkit-scrollbar-thumb {
  background: yellowgreen;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  background: rgba(221, 219, 219, 0.801);
  box-shadow: inset 1px 3px 5px black;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: solid 1px black; */
  /* box-shadow: inset 1px -2px 5px black; */
  /* position: fixed;
  width: 100%;
  background: white; */
  z-index: 1000;
  padding-bottom: 10px;
}
nav .logo {
  padding-left: 50px;
  padding-top: 10px;
  width: 30%;
}
nav .logo img {
  width: 100px;
}
nav .menu {
  padding-right: 10px;
}
nav .menu ul a {
  padding: 0 20px;
  font-size: 1.8rem;
}

.general_slider {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}
.general_slider .img_slide{
  position: relative;
  width: 100%;
  height: 600px;
  margin: 10px;
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  background: linear-gradient(rgba(0, 0, 0, 0.664), rgba(255, 0, 0, 0.281));
}

.general_slider .img_slide .slider{
  z-index: 1;
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}
.general_slider img{
  width: 100%;
  height: 600px;
  z-index: 1;
  border-radius: 10px;
}
.general_slider .img_slide .info{
  background: linear-gradient(rgba(255, 0, 0, 0.329),rgba(0, 0, 0, 0.466));
  width: 100%;
  height: 600px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
  border-radius: 10px;
}
.info h2{
  font-size: 4rem;
  color: white;
  text-transform: uppercase;
}
.info p{
  font-size: 1.6rem;
  color: white;
  margin-top: 20px;
  width: 800px;
  margin:0 auto;
  text-align: center;
  margin-top: 20px;
}
.img_slide .navigation{
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}
.img_slide .slider.active{
  clip-path: circle(150% at 0% 50%);
  transition: 2s;
  transition-property: clip-path;

}
.img_slide .navigation .btn{
  background: rgba(255, 255, 255, 0.671);
  width: 12px;
  height: 12px;
  margin: 12px;
  border-radius: 20px;
  cursor: pointer;
}

.img_slide .navigation .btn.active{
  background: #29d9d5;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.514);
}

/* Button Section Design */
.learn_more{
  width: 700px;
  padding: 20px auto;
  margin-top: 50px;
  text-align: center;
}
.learn_more a{
  background: #29d9d5;
  color: black;
  padding: 15px 30px;
  margin-left: 20px;
  border-radius: 10px;
  border: 2px solid #29d9d5;
}
.learn_more a:hover{
  background: transparent;
  border: solid 2px #29d9d5;
  color: #29d9d5;
}