@media (max-width:820px) {
    .menu{
        display: none;
    }
    header{
        display: none;
    }
    nav{
        width: 90%;
    }




    .img_slide{
        width: 200px;
        height: 370px;
        
    }
    .img_slide h2{
        font-size: 2rem;
    }
    .img_slide p{
        font-size: 1rem;
    }
    .img_slide img{
        width: 100%;
    }
    .general_slider{
        width: 100%;
    }

}
@media (max-width:620px) {
    .menu{
        display: none;
    }
    header{
        display: none;
    }
    nav{
        width: 90%;
    }
    nav .logo{
        padding-left: 10px;
    }
    nav .logo img{
        width: 80px;
    }




    .img_slide{
        width: 200px;
        height: 320px;
        
    }
    .img_slide h2{
        font-size: 2rem;
        text-align: center;
        width: 400px;
        padding: 20px 30px;
        padding-bottom: 0;
        margin:0 auto;
    }
    .img_slide p{
        font-size: 1rem;
        width: 400px;
        text-align: center;
        padding: 20px 40px;
    }
    .img_slide img{
        width: 100%;
    }
    .general_slider{
        width: 100%;
    }

}