@media (max-width:820px) {
    .menu{
        display: none;
    }
    header{
        display: none;
    }
    nav{
        width: 90%;
    }




    .img_slide{
        width: 200px;
        height: 370px;
        
    }
    .img_slide h2{
        font-size: 2rem;
    }
    .img_slide p{
        font-size: 1rem;
    }
    .img_slide img{
        width: 100%;
    }
    .general_slider{
        width: 100%;
    }

}
@media (max-width:620px) {
    .menu{
        display: none;
    }
    header{
        display: none;
    }
    nav{
        width: 90%;
    }
    nav .logo{
        padding-left: 10px;
    }
    nav .logo img{
        width: 80px;
    }




    .img_slide{
        width: 200px;
        height: 320px;
        
    }
    .img_slide h2{
        font-size: 2rem;
        text-align: center;
        width: 400px;
        padding: 20px 30px;
        padding-bottom: 0;
        margin:0 auto;
    }
    .img_slide p{
        font-size: 1rem;
        width: 400px;
        text-align: center;
        padding: 20px 40px;
    }
    .img_slide img{
        width: 100%;
    }
    .general_slider{
        width: 100%;
    }




    /* The Brand Years Of Experience Section */

    .about_section_container{
        padding: 10px 20px;
        padding-left: 40px;
    }

    .text_container{
        padding-left: 0;
    }
    .text_container p{
        width: 300px;
    }

    .image_container{
        display: none;
    }

    .mission{
        width: 300px;
        justify-content: space-between;
    }
    .mission h3{
        font-size: 2rem;
    }
    .text_container h5{
        width: 350px;
        margin-top: 20px;
    }
    .text_container ul li{
        font-size: 1rem;
        width: 100%;
    }






    /* Counter Section Media Query */
    .counter{
        height: fit-content;
        margin-bottom: 450px;
    }

    .counter .row{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 30px;
    }
    .row .col {
        width: 300px;
        display: flex;
        justify-content: space-between;
    }
    .row .col .counter_box{
        justify-content: space-between;
    }



    /* Service Section Media Query */
    .contents-container{
        padding: 0;
        margin-top: 0;
    }

    .text-container{
        margin-bottom: 0;
        margin-top: 0;
    }
    .text-container .contents-container{
        padding: 0;
    }
    .text-container .contents-container ul{
        width: 100%;
        padding: 0;

    }
    .text-container .contents-container ul li{
        width: 300px;
        padding: 0;
    }
    .contents-container ul li p{
        width: 270px;
    }
    .contents-container .middle-container img{
        width: 150px;
        margin-left: -70px;
    }
    .contents-container .middle-container{
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }





    /* Why Us Section Design */
    .why-us-container{
        width: 100%;
    }

    .why-us-container .text-container{
        width: 300px;
        text-align: center;
        margin: auto;
    }
    .why-us-container .text-container h3{
        font-size: 3.2rem;
    }
    .why-us-container .text-container p{
        width: 250px;
    }
    .why-us-container .contents-container{
        max-width: 400px;
        padding: 0 ;
        padding-left: 30px;
        margin: 0;
    }
    .why-us-container .contents-container .box-container i{
        width: 40px ;
        height: 40px;
    }
    .why-us-container .contents-container .box-container h3{
        font-size: 2rem;
    }
    .why-us-container .contents-container .box-container p{
        width: 250px;
    }
    .box-container{
        width: fit-content;
        padding-left: 40px;
    }

    /* testimony container section design */

    .testimony-container{
        display: flex;
        flex-direction: column;
    }
    .testimony-container .clients-box{
        width: 100%;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .testimony-container .clients-box h3{
        font-size: 2.4rem;
        width: 80%;
    }
    .testimony-container .clients-box p{
        width: 80%;
    }
    .testimony-container .review-box{
        width: 100%;
        border-radius: 10px;
        margin-top: 20px;
    }
    .testimony-container .review-box img{
        width: 100px;
    }
    .testimony-container .review-box h3{
        font-size: 2rem;
        margin-top: 20px;
    }
    .testimony-container .review-box h5{
        font-size: 1.6rem;
        margin-bottom: 10px;
    }
    .testimony-container .review-box p{
        font-size: 1.3rem;
        width: 90%;
    }


    /* Quick Link media Query */

    .quick-link{
        margin: 0;
        padding: 0;
        margin-left: -90px;
    }

    /*Office Section Design*/
    .office-address{
        padding-left: 0;
    }

}