.service{
    width: 100%;

    .service-text-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 30px;

        h2{
            font-size: 4.5rem
        }

        h4{
            font-size: 3rem;
            font-weight: 200
        }
    }

    .service-contents-container{
        display: flex;
        justify-content: space-between;
        align-items: center;


    // Left Side Design
    .service-left-container{
        width: fit-content;
        text-align: left;
        ul{


            li{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row-reverse;
                gap: 20px;

                i{
                    font-size: 2.5rem;
                    width: 50px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50px;
                    border: solid 1px lightgrey;


                    &:hover{
                        background: yellowgreen;
                        color: black;
                    }
                }

                .text-container{
                    text-align: left;
                    width: 300px;
                    h3{
                        font-size: 2rem;
                        text-align: left;
                    }
                    p{
                        font-size: 1.4rem;
                        width: 230px;
                        text-align: left;
                    }
                }
            }
        }
    }




    //service-middle-container
    .service-middle-container{
        img{
            width: 200px;
        }

    }

    //Right Section Design
    .service-right-container{
        width: fit-content;
        text-align: center;
        ul{


            li{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;

                i{
                    font-size: 2.5rem;
                    width: 50px;
                    height: 50px;
                    border: 1px lightgrey solid;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50px;

                    &:hover{
                        background: yellowgreen;
                        color: black;
                    }
                }

                .text-container{
                    width: 300px;
                    h3{
                        font-size: 2rem;
                        text-align: right;
                        margin-right: 80px;
                    }
                    p{
                        font-size: 1.4rem;
                        width: 230px;
                        text-align: right;
                    }
                }
            }
        }
    }

    }
}








@media (max-width:620px){
    .service-contents-container{
        flex-direction: column;


        .service-left-container{

            ul{

                li{
                    width: 200px;

                    .text-container  {
                        width: 200px;
                        font-size: 1.3rem;

                        p{
                            width: 10px;
                        }
                    }
                }
            }
        }


//Right Design
        .service-right-container{

            ul{

                li{
                    width: 200px;

                    .text-container  {
                        width: 200px;
                        font-size: 1.3rem;

                        p{
                            width: 10px;
                        }
                    }
                }
            }
        }
    }
}