.service {
  width: 100%;
}
.service .service-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
}
.service .service-text-container h2 {
  font-size: 4.5rem;
}
.service .service-text-container h4 {
  font-size: 3rem;
  font-weight: 200;
}
.service .service-contents-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.service .service-contents-container .service-left-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: left;
}
.service .service-contents-container .service-left-container ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  gap: 20px;
}
.service .service-contents-container .service-left-container ul li i {
  font-size: 2.5rem;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: solid 1px lightgrey;
}
.service .service-contents-container .service-left-container ul li i:hover {
  background: yellowgreen;
  color: black;
}
.service .service-contents-container .service-left-container ul li .text-container {
  text-align: left;
  width: 300px;
}
.service .service-contents-container .service-left-container ul li .text-container h3 {
  font-size: 2rem;
  text-align: left;
}
.service .service-contents-container .service-left-container ul li .text-container p {
  font-size: 1.4rem;
  width: 230px;
  text-align: left;
}
.service .service-contents-container .service-middle-container img {
  width: 200px;
}
.service .service-contents-container .service-right-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}
.service .service-contents-container .service-right-container ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.service .service-contents-container .service-right-container ul li i {
  font-size: 2.5rem;
  width: 50px;
  height: 50px;
  border: 1px lightgrey solid;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}
.service .service-contents-container .service-right-container ul li i:hover {
  background: yellowgreen;
  color: black;
}
.service .service-contents-container .service-right-container ul li .text-container {
  width: 300px;
}
.service .service-contents-container .service-right-container ul li .text-container h3 {
  font-size: 2rem;
  text-align: right;
  margin-right: 80px;
}
.service .service-contents-container .service-right-container ul li .text-container p {
  font-size: 1.4rem;
  width: 230px;
  text-align: right;
}

@media (max-width: 620px) {
  .service-contents-container {
    flex-direction: column;
  }
  .service-contents-container .service-left-container ul li {
    width: 200px;
  }
  .service-contents-container .service-left-container ul li .text-container {
    width: 200px;
    font-size: 1.3rem;
  }
  .service-contents-container .service-left-container ul li .text-container p {
    width: 10px;
  }
  .service-contents-container .service-right-container ul li {
    width: 200px;
  }
  .service-contents-container .service-right-container ul li .text-container {
    width: 200px;
    font-size: 1.3rem;
  }
  .service-contents-container .service-right-container ul li .text-container p {
    width: 10px;
  }
}/*# sourceMappingURL=service.css.map */